<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdj.lib.dao.BoardDAO">

	<select id="noticelist" resultType="com.gdj.lib.dto.BoardDTO" >
		SELECT notice_id, notice_title, notice_date FROM notice
		ORDER BY notice_id ASC
	</select>
	
</mapper>