<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdj.lib.dao.BoardDAO">
	<!--
	<select id="noticeList" resultType="com.gdj.lib.dto.BoardDTO" >
		SELECT notice_id, notice_title, notice_date FROM notice
		ORDER BY notice_id DESC
	</select>
	-->
	<delete id="noticeDelete" parameterType="String">
		DELETE FROM notice WHERE notice_id = #{notice_id}
	</delete>
	
	<insert id="noticeWrite" 
	useGeneratedKeys="true"
	keyColumn="notice_id"
	keyProperty="notice_id"
	parameterType="com.gdj.lib.dto.BoardDTO">
		INSERT INTO notice(mb_id,notice_title,notice_content)
	VALUES(#{mb_id},#{notice_title},#{notice_content})
	</insert>
	
	<insert id="noticeFileWrite">
		INSERT INTO photo(oriFileName, newFileName, post_id, category_id)
			VALUES(#{param1},#{param2},#{param3},#{param4})
	</insert>
	
	<select id="noticeDetail" parameterType="int" resultType="com.gdj.lib.dto.BoardDTO">
		SELECT * FROM notice WHERE notice_id = #{notice_id}
	</select>
	
	<select id="noticePhotoList" parameterType="int" resultType="com.gdj.lib.dto.PhotoDTO">
		SELECT * FROM photo WHERE post_id = #{post_id}
	</select>
	
	<select id="noticeList" resultType="com.gdj.lib.dto.BoardDTO">
		SELECT notice_id, notice_title, notice_date FROM notice
			ORDER BY notice_id DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="noticeAllCount" resultType="Integer">
		SELECT COUNT(notice_id) FROM notice
	</select>
	
	<select id="subjectNoticeSearch" resultType="com.gdj.lib.dto.BoardDTO">
		SELECT * FROM notice
			WHERE notice_title LIKE CONCAT('%',#{param3},'%')
			 	ORDER BY notice_id DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	
	<!-- 여기서부터 건의사항 관련 쿼리문 ==========================================
	<select id="claimList" resultType="com.gdj.lib.dto.BoardDTO">
		SELECT claim_id,claim_title,claim_content,claim_date,status FROM claim
			ORDER BY claim_id DESC
	</select>
	  -->
	<select id="allCount" resultType="Integer">
		SELECT COUNT(claim_id) FROM claim
	</select>
	
	<select id="claimCount" resultType="int">
		SELECT COUNT(claim_id) FROM claim
			WHERE mb_id = #{param1}
	</select>
	 
	 <!-- 페이징 처리한 목록 (마이페이지 건의사항) -->
	<select id="claimList" resultType="com.gdj.lib.dto.BoardDTO">
		SELECT * FROM claim 
			WHERE mb_id = #{param3}
				ORDER BY claim_id DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="subjectSearch" resultType="com.gdj.lib.dto.BoardDTO">
		SELECT * FROM claim
			WHERE claim_title LIKE CONCAT('%',#{param3},'%') and mb_id = #{param4}
				ORDER BY claim_id DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="statusSearch" resultType="com.gdj.lib.dto.BoardDTO">
		SELECT * FROM claim
			WHERE status LIKE CONCAT('%',#{param3},'%') and mb_id = #{param4}
				ORDER BY claim_id DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="writerSearch" resultType="com.gdj.lib.dto.BoardDTO">
		SELECT * FROM claim
			WHERE mb_id LIKE CONCAT('%',#{param3},'%') and mb_id = #{param4}
				ORDER BY claim_id DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<!-- 페이징 처리한 목록 (관리자 페이지 건의사항) -->
	<select id="allClaimList" resultType="com.gdj.lib.dto.BoardDTO">
		SELECT * FROM claim
				ORDER BY claim_id DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="allSubjectSearch" resultType="com.gdj.lib.dto.BoardDTO">
		SELECT * FROM claim
			WHERE claim_title LIKE CONCAT('%',#{param3},'%')
				ORDER BY claim_id DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="allStatusSearch" resultType="com.gdj.lib.dto.BoardDTO">
		SELECT * FROM claim
			WHERE status LIKE CONCAT('%',#{param3},'%')
				ORDER BY claim_id DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="allWriterSearch" resultType="com.gdj.lib.dto.BoardDTO">
		SELECT * FROM claim
			WHERE mb_id LIKE CONCAT('%',#{param3},'%')
				ORDER BY claim_id DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	
	<insert id="claimWrite" 
		useGeneratedKeys="true"
		keyColumn="claim_id"
		keyProperty="claim_id"
		parameterType="com.gdj.lib.dto.BoardDTO">
		INSERT INTO claim(claim_title, mb_id, claim_content,status)
			VALUES(#{claim_title},#{mb_id},#{claim_content},#{status})
	</insert>
	
	<insert id="claimFileWrite">
		INSERT INTO photo(oriFileName, newFileName, post_id,category_id)
			VALUES(#{param1},#{param2},#{param3},#{param4})
	</insert>
	
	<select id="claimDetail" parameterType="int" resultType="com.gdj.lib.dto.BoardDTO">
		SELECT * FROM claim WHERE claim_id = #{claim_id}
	</select>
	
	<select id="claimPhotoList" resultType="com.gdj.lib.dto.PhotoDTO">
		SELECT * FROM photo WHERE post_id = #{param1} and category_id = #{param2}
	</select>
	
	<update id="claimUpdate" parameterType="hashmap">
		UPDATE claim SET 
			claim_title =#{claim_title}
			, claim_content=#{claim_content}
		WHERE claim_id = #{claim_id}
	</update>
	
	<update id="adminClaimUpdate">
		UPDATE claim SET 
			status=#{param1}
		WHERE claim_id = #{param2}
	</update>
	
	<delete id="claimDel">
		DELETE FROM claim WHERE claim_id = #{param1}
		<!-- 이렇게 하면 게시글에 사진이 없는 경우에 삭제가 안됨
		DELETE c, p FROM claim AS c INNER JOIN photo AS p ON c.claim_id = p.post_id
		WHERE c.claim_id = #{param1} -->
	</delete>
	
	<delete id="photoDel">
		DELETE FROM photo WHERE post_id = #{param1} and category_id = '2'
	</delete>
	
	
	
	<!-- 여기서 부터 답변 관련 ============================================== -->
	<select id="replyDetail" parameterType="int" resultType="com.gdj.lib.dto.BoardDTO">
		SELECT * FROM reply WHERE claim_id = #{claim_id}
	</select>
	
	<select id="replyPhotoList" resultType="com.gdj.lib.dto.PhotoDTO">
		SELECT * FROM photo WHERE post_id = #{param1} and category_id = #{param2}
	</select>
	
	<insert id="replyWrite" 
		useGeneratedKeys="true"
		keyColumn="reply_id"
		keyProperty="reply_id"
		parameterType="com.gdj.lib.dto.BoardDTO">
		INSERT INTO reply(mb_id,claim_id, reply_content)
			VALUES(#{mb_id},#{claim_id},#{reply_content})
	</insert>
	
	<update id="replyUpdate" parameterType="hashmap">
		UPDATE reply SET 
			reply_content =#{reply_content}
		WHERE reply_id = #{reply_id}
	</update>
	
	<select id="getReplyId" resultType="Integer">
		SELECT reply_id from reply
			WHERE claim_id = #{param1}
	</select>
	
	<select id="claimReplyList" resultType="com.gdj.lib.dto.BoardDTO">
		SELECT reply_id FROM reply WHERE claim_id = #{param1}
	</select>
	
	<delete id="replyDel">
		DELETE FROM reply WHERE reply_id = #{param1}
	</delete>
	
	<delete id="replyPhotoDel">
		DELETE FROM photo WHERE post_id = #{param1} and category_id = '3'
	</delete>
	<!--
	<select id="searchCount" resultType="int">
		SELECT COUNT(claim_id) FROM claim
			WHERE claim_title LIKE CONCAT('%',#{param2},'%')
				AND mb_id = #{param1}
	</select>
	-->
</mapper>