<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdj.lib.dao.BrwBookDAO">
	

	<select id="detail" parameterType="String" resultType="com.gdj.lib.dto.BrwBookDTO">
		SELECT * FROM book WHERE b_id = #{b_id}
	</select>
	
	<select id="list" parameterType="String" resultType="com.gdj.lib.dto.PhotoDTO">
		SELECT * FROM photo WHERE category_id = "4" and post_id = #{b_id}
	</select>
	

 	
 	<insert id="bookreason" parameterType="hashmap">
 	 	INSERT INTO reservation(b_id,mb_id)
 			VALUES(#{b_id},#{loginId})
 	</insert>
 	
 	<select id="history" resultType="com.gdj.lib.dto.BrwBookDTO">
		select
				brw_id
				, b.b_title
				, brw_date
				, return_date
				, brw_status
				, renew
				, b.b_id
			from
				borrow br
			inner join book b on
				b.b_id  = br.b_id
			where
				brw_status = '대출'
				and br.mb_id = #{param2}
				ORDER BY brw_id desc
	</select>
	
	
	
	<select id="bookListPaing" resultType="com.gdj.lib.dto.BrwBookDTO">
		select
				brw_id
				, b.b_title
				, brw_date
				, return_date
				, brw_status
				, renew 
				, b.b_id
			from
				borrow br
			inner join book b on
				b.b_id  = br.b_id
			where
				brw_status = '반납'
				and br.mb_id = #{param3}
				ORDER BY brw_id DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="allCount" resultType="Integer">
		SELECT COUNT(b_id) FROM borrow
	</select>
	
	<!-- 
	<select id="allCount" resultType="Integer">
		SELECT COUNT(b_id) FROM borrow
	</select> -->
	
	<select id="reserve" resultType="com.gdj.lib.dto.BrwBookDTO">
		select
			reserve_id
			, b.b_title
			, b.b_status
			, reserve_date
			, reason
			, b.b_id
		from
			reservation r2 
		inner join book b on
			r2.b_id = b.b_id
			where
				reason is null
				and r2.mb_id = #{param2}
			ORDER BY reserve_id desc
	</select>
	
	
 	
 	
 	<delete id="bookdel" parameterType="String">
		 DELETE FROM reservation WHERE reserve_id = #{reserve_id}
	</delete>
 	<update id="bookdelStatusUpdate" parameterType="hashmap">
 		update book set b_status = "대출가능" where b_id = #{b_id}	
 	</update>
 	
 	
 	
 	<insert id="bookDetailBrw" parameterType="hashmap">
 		INSERT INTO reservation(b_id,mb_id)
 			VALUES(#{b_id},#{loginId})
 	</insert>
 	
 	<insert id="reserveBookBrw" parameterType="hashmap">
 		SELECT * FROM reservation WHERE reserve_id = #{reserve_id} 
 	</insert>
 	
 	
 	<update id="bookStatusUpdate" parameterType="hashmap">
 		update book set b_status = "대출불가" where b_id = #{b_id}	
 	</update>

 	<select id="reserveCheck" parameterType="String" resultType="int">
		SELECT COUNT(reserve_id) from reservation WHERE mb_id = #{param1} AND reason is null 
	</select>
	
	<select id="expiry" parameterType="String" resultType="int">
		SELECT reserve_date from reservation WHERE mb_id = #{param1} AND reason is null 
	</select>
 	
	<update id="reserveBtn" parameterType="String">						
		UPDATE
			borrow set return_date =
			adddate((select return_date from borrow where brw_id = #{brw_id})
			, interval 7 day),renew = '1' where brw_id = #{brw_id}
	</update>
 	
	
	
</mapper>