<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdj.lib.dao.BrwBookDAO">
	

	<select id="detail" parameterType="hashmap" resultType="com.gdj.lib.dto.BookDTO">
		SELECT * FROM book WHERE b_id = #{b_id}
	</select>
	
	<!-- <insert id="brw" parameterType="hashmap">
	INSERT INTO borrow (mb_id ,b_id ,brw_date ,renew ,return_date ,brw_status)
	 VALUES (#{mb_id} ,#{b_id} ,CURRENT_TIMESTAMP ,false ,DATE_ADD(now(), interval +14 day) , "대출불가")
	</insert>
 -->
 
 	<!-- <insert id="brw" parameterType="String">
 		INSERT INTO reservation(mb_id,b_id)
 			VALUES(#{param1},#{param2})
 		
 	</insert> -->
 	
 	<insert id="brw" parameterType="String">
 		INSERT INTO reservation(mb_id,b_id)
 			VALUES(#{param1},#{param2})
 	</insert>
 	
 	<insert id="reason" parameterType="String">
 		INSERT INTO reservation(mb_id,b_id)
 			VALUES(#{param1},#{param2})
 	</insert>
 	
 	<select id="brwList" resultType="com.gdj.lib.dto.BookDTO">
		select * from book b
		inner join borrow br on b.b_id = br.b_id
	</select>
	
	
	
	
	
</mapper>