<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdj.lib.dao.KioskDAO">

	<select id="login" resultType="String">
		SELECT mb_id FROM member 
			WHERE mb_id = #{param1} AND mb_pw = #{param2}
	</select>
	
	<select id="loginSeat" resultType="String">
		SELECT end_time +0 FROM seat_use su WHERE mb_id = #{param1} ORDER BY end_time DESC limit 1
	</select>
	
	<select id="list" resultType="com.gdj.lib.dto.KioskDTO">
		SELECT r.b_id, b.b_title FROM book b, reservation r
			WHERE r.mb_id = #{param1} AND r.b_id = b.b_id AND b.b_status='대출불가' AND r.reason is null
	</select>
	
	<update id="borrow" parameterType="String">						
		UPDATE book SET b_status='대출중', reserve_able ='1' WHERE b_id = #{param1}
	</update>
	
	<update id="updateR" parameterType="String">
		UPDATE reservation SET reason='정상' WHERE b_id = #{param1}
	</update>
	
	<insert id="borrowTable" parameterType="String">
		INSERT INTO borrow(mb_id,b_id,brw_date,renew,return_date,brw_status) VALUES(#{param1},#{param2},now(),'0',adddate(now(),interval 14 day),'대출')
	</insert>
	
	<select id="returnList" resultType="com.gdj.lib.dto.KioskDTO">
		SELECT brw.b_id, b.b_title FROM book b, borrow brw
			WHERE brw.mb_id = #{param1} AND brw.b_id = b.b_id AND brw.brw_status='대출'
	</select>
	
	<update id="bookReturn" parameterType="String">
		UPDATE borrow SET return_finish = now(), brw_status = '반납' WHERE b_id = #{param1} AND brw_status = '대출'
	</update>
	
	<!-- 반납 시 도서 테이블에 도서상태를 도서 준비중으로 update -->
	<update id="updateB" parameterType="String">
		UPDATE book SET b_status = '도서준비중' WHERE b_id = #{param1}
	</update>
	
	<select id="notReturn" parameterType="String" resultType="int">
		SELECT COUNT(brw_id) from borrow WHERE mb_id = #{param1} AND brw_status = '대출'
	</select>
	
	<select id="returnDate" parameterType="String" resultType="long">
		SELECT date_format(return_date,'%Y%m%d') FROM borrow WHERE mb_id = #{param1} ORDER BY return_finish DESC limit 1
	</select>
	
	<select id="returnFinish" parameterType="String" resultType="long">
		SELECT date_format(return_finish,'%Y%m%d') FROM borrow WHERE mb_id = #{param1} ORDER BY return_finish DESC limit 1
	</select>
	
	<update id="penaltyEndDate" parameterType="String">
		UPDATE penalty SET penalty_end = adddate(now(),interval 7 day) WHERE category_id = '5' AND penalty_end IS NULL AND mb_id = #{param1} 
	</update>
	
	<select id="chkReturnOver" parameterType="String" resultType="int">
		<![CDATA[
			SELECT count(brw_id) FROM borrow WHERE mb_id = #{param1} AND brw_status = '대출' AND return_date < now()	
		]]> 
	</select>
	
	<select id="chkPenalty" parameterType="String">
		SELECT count(penalty_id) FROM penalty p WHERE mb_id = #{param1} AND penalty_end is null
	</select>
	
	<insert id="insertPenalty" parameterType="String">
		INSERT INTO penalty(category_id, mb_id, penalty_start,cancel) VALUES('5',#{param1},now(), false);
	</insert>
	
	<select id="getMbClass" resultType="String">
		SELECT mb_class FROM member WHERE mb_id = #{param1} AND mb_pw= #{param2};

	</select>
</mapper>