<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdj.lib.dao.KioskDAO">

	<select id="login" resultType="String">
		SELECT mb_id FROM member 
			WHERE mb_id = #{param1} AND mb_pw = #{param2}
	</select>
	
	<select id="list" resultType="com.gdj.lib.dto.KioskDTO">
		SELECT r.b_id, b.b_title FROM book b, reservation r
			WHERE r.mb_id = #{param1} AND r.b_id = b.b_id AND b.b_status='대출가능' AND r.reason is null
	</select>
	
	<update id="borrow" parameterType="String">						
		UPDATE book SET b_status='대출중' WHERE b_id = #{param1}
	</update>
	
	<update id="updateR" parameterType="String">
		UPDATE reservation SET reason='정상' WHERE b_id = #{param1}
	</update>
	
	<insert id="borrowTable" parameterType="String">
		INSERT INTO borrow(mb_id,b_id,brw_date,renew,return_date,brw_status) VALUES(#{param1},#{param2},now(),'0',adddate(now(),interval 14 day),'대출')
	</insert>
	
	<select id="returnList" resultType="com.gdj.lib.dto.KioskDTO">
		SELECT brw.b_id, b.b_title FROM book b, borrow brw
			WHERE brw.mb_id = #{param1} AND brw.b_id = b.b_id AND brw.brw_status='대출'
	</select>
	
	<update id="bookReturn" parameterType="String">
		UPDATE borrow SET return_finish = now(), brw_status = '반납' WHERE b_id = #{param1} AND brw_status = '대출'
	</update>
	
	<!-- 반납 시 도서 테이블에 도서상태를 도서 준비중으로 update -->
	<update id="updateB" parameterType="String">
		UPDATE book SET b_status = '도서준비중' WHERE b_id = #{param1}
	</update>
	
</mapper>