<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdj.lib.dao.MemberDAO">
	
	<select id="memberUpdateDetailMy" resultType="com.gdj.lib.dto.MemberDTO" parameterType="String">
		Select mb_id, mb_pw, name, phone, email FROM member WHERE mb_id = #{mb_id}
	</select>
	
	<select id="memberUpdateListMy" resultType="com.gdj.lib.dto.MemberDTO">
		SELECT mb_id, mb_pw, name, phone, email FROM member
	</select>
	

		<insert id="memberjoin" parameterType="hashmap">
			INSERT INTO member(mb_id,mb_pw,name,phone,email,mb_class)
			VALUES(#{id},#{pw},#{name},#{phone},#{email},'일반회원')
		</insert>
		
	<select id="memberoverlay" parameterType="String" resultType="String">
		SELECT * FROM member WHERE mb_id = #{chkId}
			
			
	</select>
	
	<select id="memberoverlays" parameterType="String" resultType="String">
	SELECT * FROM member WHERE email = #{chkEmail}
			
			
	</select>
	
	<select id="idFind" resultType="String" parameterType="String">
	SELECT mb_id FROM member WHERE email = #{email}
	</select>
	
	<select id="pwFind" resultType="String">
	SELECT mb_pw FROM member WHERE mb_id = #{param1} AND email = #{param2}
	</select>
	
	<select id="login" resultType="String">
	SELECT mb_id FROM member WHERE mb_id = #{param1} AND mb_pw= #{param2};

	</select>
	
	
	</mapper>
