@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&family=Roboto:wght@700&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("../img/bg.png") no-repeat center;
    background-size: cover;
}
form {
    margin-top: 80px;
}
i{
    z-index: 99;
    font-size: 80px;
}
.logout{
    color: #333;
    position: fixed;
    top: 40px;
    right: 40px;
}
.back{
    color: #333;
    position: fixed;
    top: 40px;
    left: 40px;
}



/* login.html */
.int-area{width: 800px; padding: 5px;}
.int-area input{
    width: 100%;
    padding: 10px;
    font-size: 60px;
    font-weight: 700;
    background-color: #eee;
    border: 8px solid #a6a6a6;
    border-radius: 20px;
}

.btn-area{
    margin-top: 10px;
    text-align: center;
}
.btn-area button{
    width: 250px; height: 100px;
    background-color: #86b049;
    border: 8px solid #eee;
    border-radius: 20px;
    color: #eee;
    font-weight: 900;
    font-size: 48px;
}
.btn-area button:hover{
    background-color: #476930;
}



/* loginFail.html */
.alert{
    width: 900px; 
    padding: 200px 5px;
    background-color: #eee;
    font-size: 42px;
    font-weight: 900;
    border: 8px solid #a6a6a6;
    border-radius: 60px;
    text-align: center;
}

.btn-close{
    position: absolute;
    z-index: 99;
    margin-bottom: 455px;
    margin-left: 890px;
    width: 100px;
    height: 100px;
    background-color: #333;
    color: #eee;
    font-weight: 700;
    font-size: 70px;
    border-style: none;
    border-radius: 50px;
}
.btn-close:hover{
    background-color: black;
}



/* main.html */
.book{
    margin: 0 auto;
    width: 1000px;
    text-align: center;
}
.book button{
    width: 488px;
    height: 350px;
    background-color: #86b049;
    border: 8px solid #eee;
    border-radius: 20px;
    color: #eee;
    font-size: 60px;
    font-weight: 900;
}
.book button:hover{
    background-color: #476930;
}
#borrow{
    margin-right: 10px;
}
#return{
    margin-left: 10px;
}
.study{
    margin: 0 auto;
    width: 1000px;
    text-align: center;
}
.study button{
    margin-top: 20px;
    width: 100%;
    height: 150px;
    background-color: #86b049;
    border: 8px solid #eee;
    border-radius: 20px;
    color: #eee;
    font-size: 60px;
    font-weight: 900;
}
.study button:hover{
     background-color: #476930;
}



/* borrow.html, return.html */
.table{
    width: 1000px;
    text-align: center;
}
table{
    margin: 0 auto;
    width: 100%;
    font-size: 25px;
    font-weight: 900;
    color: #333;
    table-layout: fixed;
}
table, th, td{
    border: 3px solid #eee;
    border-collapse: collapse;
}
th, td{
    height: 70px;
    padding: 5px 20px;
}
#hiddenId{
	display:none;
}
th{
    background-color: #86b049;
    color: #eee;
}
tbody tr:nth-child(even){
    background-color: #ebf7d8;
}
tbody tr:nth-child(odd){
    background-color: #c9dab2;
}
#chk{
    width: 10%;
}
input.chkbox{
    display: none;
}
input.chkbox + label{
    vertical-align: middle;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 5px solid #333;
    border-radius: 10px;
    background-color: #eee;
    font-size: 10px;
}
input.chkbox:checked + label {
    background-image: url(../img/check-solid.png);
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    background-size: 90%;
}
#brwList{
    text-align: left;
}

.btn-book{
    margin-top: 30px;
    text-align: center;
    width: 250px; height: 100px;
    background-color: #86b049;
    border: 8px solid #eee;
    border-radius: 20px;
    color: #eee;
    font-weight: 900;
    font-size: 48px;
}
.btn-book:hover{
    background-color: #476930;
}


/* seat.html */
.seatLayout{
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    background-image: url(seatbg.png);
    background-size: cover;
    display: flex;
    flex-direction: row;
}
.info{
    width: 120px;
    height: 600px;
    text-align: center;
    
}
.seatLayout #door{
    margin-left: 5px;
    padding-top: 55px;
}
#seatBlueColor{
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: #AFEEEE;
    border: 1px solid #333;
    margin-top: 130px;
}
#seatBlueMsg{
}
#seatPinkColor{
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: #F4C2C2;
    border: 1px solid #333;
    margin-top: 10px;
}
#seatPinkMsg{
}
.seatState{
    width: 880px;
    height: 600px;
    display: flex;
    flex-direction: row;
}
.seatState .section{
    width: 33.3%;
    height: 100%;
}
.seatState .section .table{
    width: 80%;
    height: 90%;
    margin: 10% auto;
    display: flex;
    flex-direction: row;
}
.seatState .section .table .Column{
    width: 50%;
    height: 100%;
}
.seatState .section .table .Column *{
    width: 100%;
    height: 20%;
    border: 1px solid black;
    background-color: #AFEEEE;
    text-align: center;
    display : flex;
    justify-content : center;
    align-items : center;
    font-size: 20px;
}
.seatState .section .table .Column #using{
    width: 100%;
    height: 20%;
    border: 1px solid black;
    background-color: #F4C2C2;
    text-align: center;
    display : flex;
    justify-content : center;
    align-items : center;
    font-size: 20px;
}


/* seatUse.html */
.useSection{
    width: 1000px;
    height: 800px;
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction: column;
    font-size: 40px;
}
.selectSeatNo{
    width: 250px;
    height: 100px;
    text-align: center;
    display : flex;
    justify-content : center;
    align-items : center;
    background-color: #476930;
    color: #eee;
    font-weight: 900;
    border-radius: 20px;
}
.nowTime{
    width: 300px;
    height: 100px;
    display : flex;
    justify-content : center;
    align-items : center;
    color: #333;
    font-weight: 900;

}
.selectTime{
    width: 100%;
    height: 250px;
}
.selectTime .row{
    display: flex;
    justify-content : center;
    align-items : center;
    flex-direction: row;
}
.selectTime .row *{
    margin: 10px;
    text-align: center;
    width: 200px;
    height: 100px;
    display : flex;
    justify-content : center;
    align-items : center;
    background-color: #86b049;
    border: none;
    border-radius: 20px;
    font-weight: 900;
    color: #eee;
    font-size: 30px;
}
.selectTime .row *:hover{
    background-color: #476930;
}
.selectTime .row *:focus{
    background-color: #476930;
}

.useSection #btn-seatUse{
    margin-top: 20px;
    width: 250px;
    height: 100px;
    background-color: #86b049;
    border: 8px solid #eee;
    border-radius: 20px;
    color: #eee;
    font-weight: 900;
    font-size: 40px;
}
.useSection #btn-seatUse:hover{
    background-color: #476930;
}
