<<<<<<< HEAD
@charset "UTF-8";
* {
    margin:0; 
    padding:0; 
    list-style: none; 
    font-family: 'Noto Sans KR', sans-serif;
}

body{overflow-x: hidden; background-color: #fffcf6;}
 
header{
    height: 100px;
}

nav {
    float: right;
}

.login_menu {width: 600px; height: 20px; margin-top:30px;}
.login_menu > li {float: right; margin-right: 60px; font-size: 20px;}

section{
    width:100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    width: 200px;
    height: 120px;
    text-align: center; 
    /* line-height: 120px; */
    margin-bottom: 70px;
}

.search {
    margin: 50px 0;
    width: 80%;
    position: relative;
    left: 13%;
}

select {
    width: 70px;
    height: 50px;
    border: rgb(28, 139, 176) solid 2px;
    border-radius: 5px;
}

input {
    width: 60%;
    height: 50px;
    margin-right: 5px;
    border: rgb(28, 139, 176) solid 3px;
    border-radius: 5px;
}

.btn_search {
    width: 50px;
    height: 50px;
    padding: 3px;
    background-image: url("../img/search.png");
    background-size: 45px;
    background-repeat: no-repeat;
    background-color: #fff;
    border: none;
    position: absolute;
    cursor: pointer;
}

.menu{
    width: 75%;
    margin-top: 60px;
    position: relative;
    left:-3%;
}

.icons {
    display: flex;
    justify-content: space-between;    
    /* width: 100%; */
    text-align: center;
}

img {width:100px; height: 100px;}

a {
    text-decoration: none;
    text-decoration-color: black;
}

a:visited{
    color: black;
}
=======
@charset "UTF-8";
* {
    margin:0; 
    padding:0; 
    list-style: none; 
    font-family: 'Noto Sans KR', sans-serif;
}

body{overflow-x: hidden; background-color: #fffcf6;}
 
header{
    height: 100px;
}

nav {
    float: right;
}

.login_menu {width: 600px; height: 20px; margin-top:30px;}
.login_menu > li {float: right; margin-right: 60px; font-size: 20px;}

section{
    width:100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    width: 200px;
    height: 120px;
    text-align: center; 
    /* line-height: 120px; */
    margin-bottom: 70px;
}

.search {
    margin: 50px 0;
    width: 80%;
    position: relative;
    left: 13%;
}

select {
    width: 70px;
    height: 50px;
    border: rgb(28, 139, 176) solid 2px;
    border-radius: 5px;
}

input {
    width: 60%;
    height: 50px;
    margin-right: 5px;
    border: rgb(28, 139, 176) solid 3px;
    border-radius: 5px;
}

.btn_search {
    width: 50px;
    height: 50px;
    padding: 3px;
    background-image: url("../img/search.png");
    background-size: 45px;
    background-repeat: no-repeat;
    background-color: #fff;
    border: none;
    position: absolute;
    cursor: pointer;
}

.menu{
    width: 75%;
    margin-top: 60px;
    position: relative;
    left:-3%;
}

.icons {
    display: flex;
    justify-content: space-between;    
    /* width: 100%; */
    text-align: center;
}

img {width:100px; height: 100px;}

a {
    text-decoration: none;
    text-decoration-color: black;
}

a:visited{
    color: black;
}
>>>>>>> a1d146dffe57cad6b7cd1eac211aa25b84e992b9
