@charset "UTF-8";
.brwSelect-area{
	width:100%;
	padding-left:10%;
	padding-bottom:15px;
}
.brwSelect-area a{
	text-decoration-line:none;
	background:#c9dab2;
	color:#333;
	padding:2px 5px;
	
}
.brwSelect-area a:hover{
	background:#86b049;
	color:#fff;
}
.brwSelect-area .brwSelect{
	background:#86b049;
	color:#fff;
}
.table-area{
	width:100%;
}
.borrow_table{
	width:95%;
	margin-left:5%;
	text-align:center;
	border-collapse:collapse;
}
.borrow_table th,td{
	border:1px solid #333;
	padding:5px;
	color:#333;
}
.borrow_table td a{
	text-decoration-line:none;
	color:#333;
}
.borrow_table td a:hover{
	color:blue;
}
.borrow_table .brwBookTitle{
	text-align:left;
}